<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Imágenes por Héroe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p style="color: red; font-weight: bold;">TEST: If you see this, the page is rendering!</p>
  <div *ngFor="let hero of heroes">
    <h2>{{ hero.nombre }}</h2>
    <div class="image-row">
      <ion-img *ngFor="let img of hero.multimedia" [src]="img.IdMultimedia?.url" style="width: 100px; margin-right: 10px;"></ion-img>
    </div>
  </div>
</ion-content>

<style>
  .image-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
</style>