<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="multimedia" href="/tabs/multimedia">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Multimedia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="multimediaheroe" href="/tabs/multimediaheroe">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Multimedia-Heroe</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grupomultimedia" href="/tabs/grupomultimedia">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Grupo-Multimedia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Heroes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>